@page "/classement"
@using TournoiSalade.Data
@using Radzen
@inject ITournament CurrentTournament
@inject NavigationManager NavigationManager
@inject AuthenticationManagement Authentication

<PageTitle>Classement</PageTitle>

<h1>Classement</h1>

<RadzenDataGrid AllowFiltering="false" AllowPaging="false" PageSize="100" AllowSorting="false" Data="@CurrentTournament.GetPlayerRanks()" TItem="Player">
    <Columns>
        <RadzenDataGridColumn Width="50px" TItem="Player" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template Context="data">
                @(CurrentTournament.GetPlayerRanks().IndexOf(data) + 1)
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Player" Property="Name" Title="Nom" />
        <RadzenDataGridColumn TItem="Player" Property="Score" Title="Points" />
    </Columns>
</RadzenDataGrid>

@code {
    protected override async Task OnInitializedAsync()
    {
        var code = await Authentication.GetCode();
        if (code != "386392")           
        {
            NavigationManager.NavigateTo("/notfound");
        }
    }
}