.team1 {
    grid-area: team1;
}

.team2 {
    grid-area: team2;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.score {
    grid-area: score;
}

.vs {
    grid-area: vs;
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.main-grid-container {
    display: grid;
    grid-template-areas:
        'team1 vs team2';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'player1 player1 player2 player2'
        'score score score score';
    gap: 10px;
    background-color: #2106F0;
    padding: 10px;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

.main-grid-container > div {
    background-color: rgba(255, 0, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.center-vs {
    background-color: rgba(0, 0, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
